body {
  width: 90%;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 0;
}

.command {
  font-weight: bold;
}

.comment {
  font-style: italic;
  padding-left: 50px;
  text-align: justify;
}